<div class="footer">  

<footer class="page-footer font-small indigo">
    
    <div class="container">
  
     
      <div id="cajaTitulares" class="row text-center d-flex justify-content-center pt-5 mb-3">
  
        
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a id="titulares" href="register">Regitrarse</a>
          </h6>
        </div>
      
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a id="titulares" href="login">Iniciar-Sesion</a>
          </h6>
        </div>

         <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a id="titulares" href="#!">Productos</a>
          </h6>
        </div>
        
      </div>
     
      <hr class="rgba-white-light" style="margin: 0 15%;">
  
     
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
  
      
        <div class="col-md-8 col-12 mt-5" id="textoEmpresa">
          <p style="line-height: 1.7rem">Somos una empresa dedicada a la alimentación consciente, cada uno de nuestros productos cuentan con la mejor calidad y están dedicados a ayudar a mantener un estilo de vida saludable, lleno de energía, bienestar y longevidad.</p>
        </div>
       
  
      </div>
     
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  
     
      <div class="row pb-3">
  
        
        <div class="col-md-12">
  
          <div class="mb-5 flex-center" id="socialMediaLogos">
  
           
            <a class="fb-ic" href="#">
              <i class="fa fa-facebook-f fa-lg white-text mr-4"> </i>
            </a>
            
            <a class="tw-ic" href="#">
              <i class="fa fa-twitter fa-lg white-text mr-4"> </i>
            </a>
           
            <a class="ins-ic" href="#">
              <i class="fa fa-instagram fa-lg white-text mr-4"> </i>
            </a>
            
  
          </div>
  
        </div>
       
  
      </div>
    
  
    </div>
   
  
   
    <div class="footer-copyright text-center py-3">
      <a>© 2020 Copyright: DH Group 8</a>
    </div>
   
  
  </footer>
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
