<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/styles.csss">
    <link rel="stylesheet" href="styles.css">
    <title>Categorias</title>
</head>


<body class="bodyCategorias">
    <%- include('partials/header')%>

    <div class='containerCategorias container-fluid'>
        <div class="divCategorias row">
            <div class="boxCategorias1">
                <h3 class="tituloCategoriasHead">Frutos Secos</h3>
            </div>
            <div class="boxCategorias2">
                <h3 class="tituloCategoriasHead">Fruta Deshidratada y Glaseada</h3>
            </div>
            <div class="boxCategorias3">
                <h3 class="tituloCategoriasHead">Cereales</h3>
            </div>
        </div>
        <div class="divCategorias row">
            <div class="boxCategorias4">
                <h3 class="tituloCategoriasHead">Legumbres</h3>
            </div>
            <div class="boxCategorias5">
                <h3 class="tituloCategoriasHead">Especias</h3>
            </div>
            <div class="boxCategorias6">
                <h3 class="tituloCategoriasHead">Suplementos</h3>
            </div>
        </div>
    </div>

    <div class="tituloDivisorCategorias">
        <h1 class="textoTituloCategorias">PRODUCTOS EN OFERTA</h1>
    </div>

    <div class="containerOfertas container-fluid">
        <div class="divCategorias2 row">
            <div class="boxOfertas1">
                 <h3 class="tituloCategorias">Pistachos Tostados Salados</h3>
            </div>
            <div class="boxOfertas2">
                <h3 class="tituloCategorias">Higos Turcos</h3>
            </div>
            <div class="boxOfertas3">
                <h3 class="tituloCategorias">Ositos de Frutilla</h3>
            </div>
            <div class="boxOfertas4">
                <h3 class="tituloCategorias">Maíz Tostado</h3>
            </div>
            </div>
    </div>

    <div class="tituloDivisorCategorias">
        <h1 class="textoTituloCategorias">PRODUCTOS DESTACADOS</h1>
    </div>

    <div class="containerRecomendados container-fluid">
        <div class="divCategorias3 row">
            <div class="boxRecomendados1">
                <h3 class="tituloCategorias">Spirulina En Polvo Goldfish</h3>
            </div>
            <div class="boxRecomendados2">
                <h3 class="tituloCategorias">Porotos Colorados</h3>
            </div>
            <div class="boxRecomendados3">
                <h3 class="tituloCategorias">Manzana En Rodajass</h3>
            </div>
        </div>
    </div>
   
    <%- include('partials/footer')%> 

</body>
</html>