<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/styles.css">
    <title>Cereales</title>
</head>
<body class="bodyCategorias">
    <%- include (/partials/header)%>

    <div class='containerCereales container-fluid'></div>

    <div class="tituloDivisorCategorias">
        <h1 class="textoTituloCategorias">CEREALES</h1>
    </div>

    <div class="containerProductos container-fluid">
        <div class="divCategoriasProductos row">
            <div class="boxC1">
                <h3 class="tituloCategorias">Avena Gruesa</h3>
            </div>
            <div class="boxC2">
                <h3 class="tituloCategorias">Ositos De Frutilla</h3>
            </div>
            <div class="boxC3">
                <h3 class="tituloCategorias">Ositos De Chocolate</h3>
            </div>
            <div class="boxC4">
                <h3 class="tituloCategorias">Copos Naturales</h3>
            </div>
            <div class="boxC5">
                <h3 class="tituloCategorias">Copos Azucarados</h3>
            </div>
            <div class="boxC6">
                <h3 class="tituloCategorias">Bolitas De Chocolate</h3>
            </div>
            <div class="boxC7">
                <h3 class="tituloCategorias">Bastones De Salvado</h3>
            </div>
            <div class="boxC8">
                <h3 class="tituloCategorias">Aritos De Avena y Miel</h3>
            </div>
            <div class="boxC9">
                <h3 class="tituloCategorias">Aritos Frutados</h3>
            </div>
            <div class="boxC10">
                <h3 class="tituloCategorias">Almohaditas De Limón</h3>
            </div>
            <div class="boxC11">
                <h3 class="tituloCategorias">Almohaditas De Frutilla</h3>
            </div>
            <div class="boxC12">
                <h3 class="tituloCategorias">Almohaditas De Chocolate</h3>
            </div>

        </div>
    </div>
    
<%- include (/partials/footer)%> 
</body>
</html>