<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/stylesFH.css">
    <title>Vitalcer |  Especias</title>
</head>
<body class="bodyCategorias">
    <%- include('partials/header')%>

    <div class='containerEspecias container-fluid'></div>

    <div class="tituloDivisorCategorias">
        <h1 class="textoTituloCategorias">ESPECIAS</h1>
    </div>

    <div class="containerProductos container-fluid">
        <div class="divCategoriasProductos row">
            <div class="boxE1">
                <h3 class="tituloCategorias">Massala</h3>
            </div>
            <div class="boxE2">
                <h3 class="tituloCategorias">Cebolla En Escamas</h3>
            </div>
            <div class="boxE3">
                <h3 class="tituloCategorias">Curry</h3>
            </div>
            <div class="boxE4">
                <h3 class="tituloCategorias">Ajo Granulado</h3>
            </div>
            <div class="boxE5">
                <h3 class="tituloCategorias">Sal Marina De Cristal</h3>
            </div>
            <div class="boxE6">
                <h3 class="tituloCategorias">Sal Marina De Hierbas Finas</h3>
            </div>
            <div class="boxE7">
                <h3 class="tituloCategorias">Sal Marina De Cebolla y Ajo</h3>
            </div>
            <div class="boxE8">
                <h3 class="tituloCategorias">Sal Marina De Hongos y Trufas</h3>
            </div>
            <div class="boxE9">
                <h3 class="tituloCategorias">Chimichurri Cuyano</h3>
            </div>
            <div class="boxE10">
                <h3 class="tituloCategorias">Chimichurri Argento</h3>
            </div>
            <div class="boxE11">
                <h3 class="tituloCategorias">Sal De Paprika y Cúrcuma</h3>
            </div>
            <div class="boxE12">
                <h3 class="tituloCategorias">Sal De Wasabi</h3>
            </div>

        </div>
    </div>
    
    <%- include('partials/footer')%> 
</body>
</html>