<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/stylesFH.css">
    <title>Vitalcer |  Fruta Deshidratada</title>
</head>
<body class="bodyCategorias">
    <%- include('partials/header')%>
    
    <div class='containerFrutasDeshidratada container-fluid'></div>

    <div class="tituloDivisorCategorias">
        <h1 class="textoTituloCategorias">FRUTA DESHIDRATADA Y GLASEADA</h1>
    </div>

    <div class="containerProductos container-fluid">
        <div class="divCategoriasProductos row">
            <div class="boxFD1">
                <h3 class="tituloCategorias">Manzana En Rodajas</h3>
            </div>
            <div class="boxFD2">
                <h3 class="tituloCategorias">Mango</h3>
            </div>
            <div class="boxFD3">
                <h3 class="tituloCategorias">Coco En Cubos</h3>
            </div>
            <div class="boxFD4">
                <h3 class="tituloCategorias">Cerezas</h3>
            </div>
            <div class="boxFD5">
                <h3 class="tituloCategorias">Ananá En Rodajas</h3>
            </div>
            <div class="boxFD6">
                <h3 class="tituloCategorias">Tomates Secos</h3>
            </div>
            <div class="boxFD7">
                <h3 class="tituloCategorias">Pasas De Uva Negras Jumbo</h3>
            </div>
            <div class="boxFD8">
                <h3 class="tituloCategorias">Pasas De Uva Rubias</h3>
            </div>
            <div class="boxFD9">
                <h3 class="tituloCategorias">Higos Negros</h3>
            </div>
            <div class="boxFD10">
                <h3 class="tituloCategorias">Higos Turcos</h3>
            </div>
            <div class="boxFD11">
                <h3 class="tituloCategorias">Damascos Turcos</h3>
            </div>
            <div class="boxFD12">
                <h3 class="tituloCategorias">Arándanos</h3>
            </div>

        </div>
    </div>
    
    <%- include('partials/footer')%> 
</body>
</html>