<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/stylesFH.css">
    <title>Vitalcer |  Frutos Secos</title>
</head>
<body class="bodyCategorias">
    <%- include('partials/header')%>

    <div class='containerFrutosSecos container-fluid'></div>

    <div class="tituloDivisorCategorias">
        <h1 class="textoTituloCategorias">FRUTOS SECOS</h1>
    </div>

    <div class="containerProductos container-fluid">
        <div class="divCategoriasProductos row">
            <div class="boxFS1">
                <h3 class="tituloCategorias">Pistachos Tostados Salados</h3>
            </div>
            <div class="boxFS2">
                <h3 class="tituloCategorias">Nueces Extra Light Enteras</h3>
            </div>
            <div class="boxFS3">
                <h3 class="tituloCategorias">Maní Tostado Salado</h3>
            </div>
            <div class="boxFS4">
                <h3 class="tituloCategorias">Castañas De Cajú Tostadas Saladas</h3>
            </div>
            <div class="boxFS5">
                <h3 class="tituloCategorias">Avellanas</h3>
            </div>
            <div class="boxFS6">
                <h3 class="tituloCategorias">Almendras Tostadas Saladas</h3>
            </div>
            <div class="boxFS7">
                <h3 class="tituloCategorias">Castañas De Cajú Naturales</h3>
            </div>
            <div class="boxFS8">
                <h3 class="tituloCategorias">Almendras Non Pareil</h3>
            </div>
            <div class="boxFS9">
                <h3 class="tituloCategorias">Happy Mix</h3>
            </div>
            <div class="boxFS10">
                <h3 class="tituloCategorias">Mix Tradicional</h3>
            </div>
            <div class="boxFS11">
                <h3 class="tituloCategorias">Mix Salado</h3>
            </div>
            <div class="boxFS12">
                <h3 class="tituloCategorias">Mix Premium</h3>
            </div>

        </div>
    </div>
    
    <%- include('partials/footer')%> 
</body>
</html>