<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/styles.css">
    <title>Legumbres</title>
</head>
<body class="bodyCategorias">
    <%- include('partials/header')%>

    <div class='containerLegumbres container-fluid'></div>

    <div class="tituloDivisorCategorias">
        <h1 class="textoTituloCategorias">LEGUMBRES</h1>
    </div>

    <div class="containerProductos container-fluid">
        <div class="divCategoriasProductos row">
            <div class="boxL1">
                <h3 class="tituloCategorias">Semillas De Quínoa</h3>
            </div>
            <div class="boxL2">
                <h3 class="tituloCategorias">Porotos Pallares</h3>
            </div>
            <div class="boxL3">
                <h3 class="tituloCategorias">Porotos Negros</h3>
            </div>
            <div class="boxL4">
                <h3 class="tituloCategorias">Porotos Mung</h3>
            </div>
            <div class="boxL5">
                <h3 class="tituloCategorias">Porotos Colorados</h3>
            </div>
            <div class="boxL6">
                <h3 class="tituloCategorias">Porotos Alubia</h3>
            </div>
            <div class="boxL7">
                <h3 class="tituloCategorias">Maíz Tostado Original</h3>
            </div>
            <div class="boxL8">
                <h3 class="tituloCategorias">Maíz Pisado Blanco</h3>
            </div>
            <div class="boxL9">
                <h3 class="tituloCategorias">Lentejas</h3>
            </div>
            <div class="boxL10">
                <h3 class="tituloCategorias">Garbanzos</h3>
            </div>
            <div class="boxL11">
                <h3 class="tituloCategorias">Arroz Aromático Basmati</h3>
            </div>
            <div class="boxL12">
                <h3 class="tituloCategorias">Maíz Tostado</h3>
            </div>

        </div>
    </div>
    
    <%- include('partials/footer')%> 
</body>
</html>