<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Suplementos</title>
</head>
<body class="bodyCategorias">
    <%- include('partials/header')%>

    <div class='containerSuplementos container-fluid'></div>

    <div class="tituloDivisorCategorias">
        <h1 class="textoTituloCategorias">SUPLEMENTOS</h1>
    </div>

    <div class="containerProductos container-fluid">
        <div class="divCategoriasProductos row">
            <div class="boxS1">
                <h3 class="tituloCategorias">Spirulina Max</h3>
            </div>
            <div class="boxS2">
                <h3 class="tituloCategorias">Magnesio</h3>
            </div>
            <div class="boxS3">
                <h3 class="tituloCategorias">Ginseng</h3>
            </div>
            <div class="boxS4">
                <h3 class="tituloCategorias">Ginkgo Biloba</h3>
            </div>
            <div class="boxS5">
                <h3 class="tituloCategorias">Colágeno</h3>
            </div>
            <div class="boxS6">
                <h3 class="tituloCategorias">Cartílago De Tiburón</h3>
            </div>
            <div class="boxS7">
                <h3 class="tituloCategorias">Café Verde</h3>
            </div>
            <div class="boxS8">
                <h3 class="tituloCategorias">Arándanos</h3>
            </div>
            <div class="boxS9">
                <h3 class="tituloCategorias">Aceite De Hígado De Bacalao</h3>
            </div>
            <div class="boxS10">
                <h3 class="tituloCategorias">Aceite De Coco y Café Verde</h3>
            </div>
            <div class="boxS11">
                <h3 class="tituloCategorias">Suplemento Dietario Ampk</h3>
            </div>
            <div class="boxS12">
                <h3 class="tituloCategorias">Spirulina En Polvo</h3>
            </div>

        </div>
    </div>

    <%- include('partials/footer')%> 
</body>
</html>