<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/stylesFH.css">
    <title>Vitalcer |  Sign up</title>
</head>

<body class="bodyLoginFormulario">
    <%- include('../partials/header')%>
    
    <div class="formularioCreaCuenta">
        <form class="formLoginFormulario" action="/register" method="POST">
            <h2 class="tituloFormularioLogin">Completa tus datos para crear tu cuenta:</h2>
            <input class="inputFormularioLogin" type="text" name="Nombre" placeholder="Nombre">
            <input class="inputFormularioLogin" type="text" name="Apellido" placeholder="Apellido">
            <input class="inputFormularioLogin" type="email" name="Email" placeholder="Email" required>
            <input class="inputFormularioLogin" type="password" name="Clave" placeholder="Clave" required>            
            <input class="inputFormularioLogin" type="button" value="Continuar" id="botonFormularioLogin">
            
        </form>
    </div>
    
    <%- include('../partials/footer')%> 
</body>

</html>